body {
    font-family: 'JetBrains Mono', monospace;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  /* Global */
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: black;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  
  
  .dark {
    padding: 15px;
    background: #111111;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Header **/
  header {
    background: #19191a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #076914 3px solid;
  }
  
  header a {
    color: #ffffff;
    text-decoration: none;
    
    font-size: 16px;
  }
  
  header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding {
    float: left;
  }
  
  header #branding h1 {
    margin: 0;
  }
  
  header nav {
    float: right;
    margin-top: 10px;
  }
  
  header .highlight,
  header .current a {
    color: #076914;
    font-weight: bold;
  }
  
  header a:hover {
    color: #cccccc;
    font-weight: bold;
  }
  
  /* Showcase */
  #showcase {
    min-height: 400px;
    text-align: center;
    position: relative;
    color: black;
    color: #110d0d;
  }
  
  #showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
  }
  
  #showcase p {
    font-size: 20px;
  }
  
  
  
  /* Boxes */
  #boxes {
    margin-top: 20px;
  }
  
  #boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
  }
  
  #boxes .box img {
    width: 90px;
  }
  
  /* Sidebar */
  aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
  }
  
  aside#sidebar .quote input,
  aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
  }
  
  /* Main-col */
  article#main-col {
    float: left;
    width: 65%;
  }
  .center
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
  }
  
  /* Services */
  ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
  }
  
  footer {
    padding: 20px;
    margin: auto;
    
    color: #ffffff;
    background-color: #076914;
    text-align: center;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
  
    #boxes .box,
    article#main-col,
    aside#sidebar {
      float: none;
      text-align: center;
      width: 100%;
    }
  
    header {
      padding-bottom: 20px;
    }
  
    #showcase h1 {
        margin-top: 40px;
    }
      
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
